$color:red;
$centro:center;
$color1:#6A6A6A;

*{
  font-family: 'Noto Sans Mono', monospace; 
  text-align: justify;
        
}
/*estilo para los titulos*/
h1{
  font-family: 'Bebas Neue', cursive;
} 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
      
.row.content {height: 450px}
  
     
/*ajustes para cuando la pagina tenga menos de 767px */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {height:auto;} 
  iframe{
    width: 350px;
    height: 600px;
  }
}
.revelde{
  font-size: 17px;
}
.p-footer{
  margin: 0 auto;
  text-align: $centro;
}
.p-footer a{
  text-decoration: none;
  list-style: none;
  color: #F3F3F3;
}
.p-footer img{
  padding-right: 5px;
}

.container-fluid{
  width: 100%;
}
.color{
  background-color: #454545;
  line-height: 50px;
  margin-top: 5px;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
.web{
  text-align: $centro;
} 
.footer1{
  margin-top: 6.75%;
}
iframe{
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.tarkov{
  text-align: $centro;
}
.video{
  text-align: $centro;
  margin: 0 auto;
  align-items: $centro;
}
.navbar{
  width: 100%;
}
table{
  border: 2px solid black;
  margin: auto;
}
table th{
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  text-align: $centro;
}
table td{
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  text-align: $centro;
}
#resultado{
  margin-bottom: 95px;
  text-align: $centro;
}

.videosiframes{
  margin: 0 auto;
  text-align: $centro;
}

.color1{
  background-color:$color1;
  color:white;
}